html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #BEBDB8;
}
.profilePic {
    border-radius: 25px;
    display: block;
}
.links { 
    display: block;
    text-align: center;
    margin: 15px;
}
i {
    text-decoration: none;
    color: black;
    margin: 3px;
}
.main {
    width: 250px;
    word-wrap: break-word;
}
a {
    color: black;
}

.left, .right {
    float: left;
    margin: 15px;
}
.clearfix{
    clear:both
}